<!DOCTYPE html>
<html ng-app="Reap">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/bootstrap-theme.min.css' />
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div class="container">
      <h1>Reap <small>It's whats for dinner.</small></h1>
      <div ng-view></div>
    </div>

    <script src="/js/lib/angular-1.3.6/angular.min.js"></script>
    <script src="/js/lib/angular-1.3.6/angular-route.min.js"></script>
    <script src="/js/lib/angular-1.3.6/angular-resource.min.js"></script>

    <script src="/js/web/app.js"></script>
    <script src="/js/web/controllers/splash.js"></script>
    <script src="/js/web/controllers/login.js"></script>
    <script src="/js/web/controllers/signup.js"></script>
    <script src="/js/web/controllers/studio.js"></script>
  </body>
</html>
